{% extends 'AresCoreBundle::layout.html.twig' %}

{% block content %}
        {% block tools %}
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <a class="btn btn-default btn-round tooltips" href="{{ path('admin_task_index') }}" title="Retour à la liste des tâches">
                            <i class="fa fa-chevron-left"></i>
                            Retour
                        </a>
                    </header>
                </section>
            </div>
        {% endblock %}
        {% block body -%}
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading">
                        Description de la tâche
                    </header>
                    <div class="panel-body">
                        <h3>{{ task.name }}</h3>
                        <p>{{ task.description }}</p>
                        <p><b>Créée le</b> : {{ task.dateCreated | intl_date('EEEE d LLLL y')  }}</p>
                        <p><b>Deadline</b> : {{ task.deadline | intl_date('EEEE d LLLL y') }}</p>
                        <p><b>Durée estimée</b> : {{ task.estimatedTime | toTime }}</p>
                        <p><b>Durée travaillée</b>: {{ chronometersTotal | toTime }}</p>
                        <br/>
                        <p><span class="label label-primary">{{ task.state }}</span></p>
                    </div>
                </section>
            </div>
            <div class="col-sm-6">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading">
                        Progression de la tâche
                        <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-cog"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                            </span>
                    </header>
                    <div class="panel-body">
                        <p class="text-muted">
                            <b>Temps utilisé</b>: {{ ((chronometersTotal / task.estimatedTime)*100) | round }}%
                        </p>
                        <div class="progress progress-striped active progress-sm">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ ((chronometersTotal / task.estimatedTime)*100) | round }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ ((chronometersTotal / task.estimatedTime)*100) | round }}%">
                                <span class="sr-only">Completée à {{ ((chronometersTotal / task.estimatedTime)*100) | round }}%</span>
                            </div>
                        </div>
                    </div>
                </section>
                <!--progress bar end-->
            </div>
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading">
                        Utilisateurs assignés à la tâche
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-cog"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                             </span>
                    </header>
                    <div class="panel-body">
                        <table class="table table-hover general-table" style="font-size: 13px;">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Dernière connexion</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in task.users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.lastLogin | intl_date('EEEE d LLLL y') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading">
                        Répartition du travail sur la tâche {{ task.name }}
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div id="graph-donut"></div>
                    </div>
                </section>
            </div>
        {% endblock %}
{% endblock %}

{% block javascript_for_layout %}
    <script src="{{ asset('bundles/arescore/js/morris-chart/morris.min.js') }}"></script>
    <script src="{{ asset('bundles/arescore/js/morris-chart/raphael-min.js') }}"></script>
    <script>
        Morris.Donut({
            element: 'graph-donut',
            data: [
                {% for chronometer in chronometers %}
                    {value: {{ (chronometer.time / chronometersTotal) }}, label: "{{ chronometer.username }}", formatted: 'Environ {{ (chronometer.time / chronometersTotal *100 )| round }}%' },
                {% endfor %}
            ],
            backgroundColor: '#fff',
            labelColor: '#1fb5ac',
            colors: [
                '#E67A77','#D9DD81','#79D1CF','#95D7BB'
            ],
            formatter: function (x, data) { return data.formatted; }
        });
    </script>
{% endblock %}
