{% extends 'AresCoreBundle::layout.html.twig' %}

{% block content %}
        {% block tools %}
            <a class="btn btn-default btn-round tooltips" href="{{ path('admin_task_index') }}" title="Retour à la liste des taches">
                <i class="fa fa-chevron-left"></i>
                Retour
            </a>
        {% endblock %}
        {% block body -%}
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading">
                        Répartition du travail sur la tache {{ task.name }}
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div id="graph-donut"></div>
                    </div>
                </section>
            </div>
        {% endblock %}
{% endblock %}

{% block javascript_for_layout %}
    <script src="{{ asset('bundles/arescore/js/morris-chart/morris.min.js') }}"></script>
    <script src="{{ asset('bundles/arescore/js/morris-chart/raphael-min.js') }}"></script>
    <script>
        Morris.Donut({
            element: 'graph-donut',
            data: [
                {% for chronometer in chronometers %}
                    {value: {{ (chronometer.time / chronometersTotal) }}, label: "{{ chronometer.username }}", formatted: 'Environ {{ (chronometer.time / chronometersTotal *100 )| round }}%' },
                {% endfor %}
            ],
            backgroundColor: '#fff',
            labelColor: '#1fb5ac',
            colors: [
                '#E67A77','#D9DD81','#79D1CF','#95D7BB'
            ],
            formatter: function (x, data) { return data.formatted; }
        });
    </script>
{% endblock %}
