{% set title_for_layout = 'Administration - Ares' %}

{% extends 'AresCoreBundle::layout.html.twig' %}

    
    
{% block content -%}
    {% embed 'AresCoreBundle:Elements:panel.html.twig' with {title:'Liste des Tâches'} %}
    {% block tools %}
        <a class="btn btn-primary btn-round tooltips" href="{{ path('admin_task_create') }}" title="Ajouter une tâche">
            <i class="fa fa-plus"></i>
            Ajouter
        </a>
    {% endblock %}
    {% block body %}
        <table class="table table-hover general-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Échéance</th>
                <th>Temps estimé</th>
                <th>Time passé</th>
                <th>État</th>
                <th>Utilisateurs</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.description | truncate(20, true, '...') }}</td>
                        <td>{{ task.deadline | date('d/m/Y')   }}</td>
                        <td>{{ task.estimatedtime | toTime }}</td>
                        <td>{{ render(controller("AresCoreBundle:Chronometer:timeSpentByTask", {'id': task.id, 'typeTime': 'total'})) }}</td>
                        <td><span class="label label-{{ task.state }} label-mini">{{ task.state | title }}</span></td>
                        <td>
                            {% for user in task.users %}
                                {{ user.username | title }}{% if loop.last is same as(false) %},{% endif %}
                            {% endfor %}
                        </td>
                        <td class="listing-actions three">
                            <a class="btn btn-default btn-sm tooltips" href="{{ path('admin_task_show', { 'id': task.id }) }}" title="Voir la tâche" >
                                <i class="fa fa-eye"></i>
                            </a>
                            <a class="btn btn-primary btn-sm tooltips" href="{{ path('admin_task_edit', { 'id': task.id }) }}" title="Editer cette tâche" >
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger btn-sm tooltips" href="{{ path('admin_task_delete', { 'id': task.id }) }}" title="Supprimer cette tâche" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette tâche');">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascript_for_layout %}
    <script>
        $('.table').DataTable();
    </script>
{% endblock %}


