{% extends 'AresCoreBundle::layout.html.twig' %}
    {% block content -%}
        {% embed 'AresCoreBundle:Elements:panel.html.twig' with {title:'Taches'} %}
        {% block body %}
            <div class="form-group">
                <label class="col-sm-4 control-label">Selectionner un utilisateur</label>
                <div class="col-sm-8">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon btn-white"><i class="fa fa-tasks"></i></span>
                        <select class="form-control" id="taskForHisto">
                            <optgroup label="Assign">
                                {% for task in tasks %}
                                    <option value="{{ task.id }}">{{ task.name | title }}</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Complete">
                                {% for task in tasks %}
                                    <option value="{{ task.id }}">{{ task.name | title }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                </div>
             </div>
        {% endblock %}
        {% endembed %}
        
        {% embed 'AresCoreBundle:Elements:panel.html.twig' with {title:'Historique'} %}
        {% block body %}
            <div id="gantt_here" style='height:400px;'></div>
        {% endblock %}
        {% endembed %}
    {% endblock %}

{% block stylesheet_for_layout %}
    <link rel="stylesheet" href="{{ asset('bundles/arescore/dhtmlxGantt/codebase/dhtmlxgantt.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/arescore/dhtmlxGantt/codebase/skins/dhtmlxgantt_meadow.css') }}"/>
{% endblock %}

{% block javascript_for_layout %}
    <script src="{{ asset('bundles/arescore/dhtmlxGantt/codebase/dhtmlxgantt.js') }}"></script>
    <script src="{{ asset('bundles/arescore/dhtmlxGantt/codebase/locale/locale_fr.js') }}"></script>
    <script>
        jQuery(document).ready(function($) {
            $("#taskForHisto").change(function() {
                gantt.config.xml_date = "%Y-%m-%d %H:%i";
                gantt.config.scale_unit = "day";
                gantt.config.step = 1;
                gantt.config.subscales = [
                    {unit:"hour", step:6, date:"%H:%i" }
                ];

                gantt.init("gantt_here");
                gantt.load('{{ path('admin_histo_tasks') }}' + '/' + $(this).val());//loads data to Gantt from the database
            });
        });
    </script>
{% endblock %}