{% extends 'AresCoreBundle::layout.html.twig' %}
    {% block content -%}
        {% embed 'AresCoreBundle:Elements:panel.html.twig' with {title:'Utilisateurs'} %}
        {% block body %}
            <div class="form-group">
                <label class="col-sm-4 control-label">Selectionner un utilisateur</label>
                <div class="col-sm-8">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon btn-white"><i class="fa fa-user"></i></span>
                        <select class="form-control" id="userForHisto">
                            <optgroup label="Admin">
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.username | title }}</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Utilisateur">
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.username | title }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                </div>
             </div>
        {% endblock %}
        {% endembed %}
        
        {% embed 'AresCoreBundle:Elements:panel.html.twig' with {title:'Historique'} %}
        {% block body %}
            <div id="gantt_here" style='width:1000px; height:400px;'></div>
        {% endblock %}
        {% endembed %}
    {% endblock %}

{% block stylesheet_for_layout %}
    <link rel="stylesheet" href="{{ asset('bundles/arescore/dhtmlxGantt/codebase/dhtmlxgantt.css') }}"/>
{% endblock %}

{% block javascript_for_layout %}
    <script src="{{ asset('bundles/arescore/dhtmlxGantt/codebase/dhtmlxgantt.js') }}"></script>
    <script>
        jQuery(document).ready(function($) {
            $("#userForHisto").change(function() {
                gantt.config.xml_date = "%Y-%m-%d %H:%i";
                gantt.init("gantt_here");
                gantt.load('{{ path('admin_histo_users') }}' + '/' + $(this).val());//loads data to Gantt from the database
            });
        });
    </script>
{% endblock %}