<ul class="sidebar-menu" id="nav-accordion">
    {% if is_granted('ROLE_ADMIN') %}
    <li>
        <a href="{{ path('admin_task_index') }}">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
        </a>
    </li>
    {% endif %}
    <li class="sub-menu">
        <a href="javascript:;">
            <i class="fa fa-font"></i>
            <span>Tâches</span>
        </a>
        
        
        
        {% if is_granted('ROLE_ADMIN') %}
        <ul class="sub">
            <li>
                <a href="{{ path('admin_task_index') }}">Gérer les tâches</a>
            </li>
        </ul>
       {% endif %}
        <ul class="sub">
            <li>
                <a href="{{ path('user_task_index') }}">Voir mes tâches</a>
            </li>
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
        <ul class="sub">
            <li>
                <a href="{{ path('admin_week_show') }}">Semaine en cours</a>
            </li>
        </ul>
        {% endif %}    
    </li>
    {% if is_granted('ROLE_ADMIN') %}
    <li class="sub-menu">
        <a href="javascript:;">
            <i class="fa fa-laptop"></i>
            <span>Historique</span>
        </a>
        
        <ul class="sub" style="display: block;">
            <li><a href="{{ path('admin_histo_week') }}">Historique de la semaine</a></li>
            <li><a href="{{ path('admin_histo_users') }}">Details par Utilisateur</a></li>
            <li><a href="{{ path('admin_histo_tasks') }}">Details par Tâche</a></li>
        </ul>
    </li>
    {% endif %}    
</ul>